.container {
  max-width: 1440px;
  margin: auto;
}

.content-section {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  padding: 91px 49px 92px 51px;
}

.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.header__menu {
  grid-column-start: 1;
  grid-column-end: 3;
  place-self: center start;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 1px;
  list-style: none;
  font-size: 18px;
  line-height: normal;
  text-underline-offset: 5px;
}

.header__menu-no-link {
  text-decoration: none;
}

.header__menu-list::before {
  content: "○";
  padding-right: 9px;
  padding-left: 9px;
}

.header__logo {
  display: block;
  grid-column-start: 3;
  grid-column-end: 4;
  place-self: center center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  grid-column-start: 5;
  grid-column-end: 6;
  place-self: center end;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 5px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
  width: 1440px;
  min-height: 757px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: rgb(0, 0, 0, 1);
  opacity: 60%;
}

.cover-title {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 135px 50px;
  z-index: 2;
  font-weight: bold;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 105%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
  row-gap: 20px;
}

.aligned-text {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 5px;
}

.letter-spacing-start {
  position: relative;
  left: 30px;
}

.aligned-text-center {
  position: relative;
  display: flex;
  justify-content: center;
  top: 8px;
}

.letter-spacing-center {
  letter-spacing: 30px;
}

.aligned-text-right {
  display: flex;
  justify-content: end;
}

.no-letter-spacing {
  position: relative;
  left: 30px;
}

.letter-spacing-extended-center {
  position: relative;
  right: 30px;
}

.no-letter-spacing-right {
  position: relative;
  left: 30px;
}

.cover-description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px 50px 0;
}

.cover_description-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 70px;
  padding-right: 25px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: auto;
  margin-left: 55px;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background: none;
}

.lots {
  position: relative;
  margin: 180px 50px;
}

.lots__heading {
  display: flex;
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}



.card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 25px;
  width: 430px;
  min-height: 450px;
  padding: 50px 40px;
  color: #fff;
  text-decoration: none;
  list-style: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0,);
}

.card__title {
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
}

.card__text {
  display: flex;
  z-index: 1;
  margin-top: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-align: left;
  word-wrap: break-word;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-flex;
  margin: 2.2% 0 0 3%;
  border-bottom: 0px solid #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 5px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  align-items: start;
  gap: 0 75px;
}

.about-logo {
  display: flex;
  grid-row: 1 / 3;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 120px 0 145px;
  border-radius: 120px;
  background-color: #000;
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.about-title {
  display: flex;
  grid-row: 2 / 3;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 100px;
}

.about-text {
  width: 885px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  line-height: normal;
}



.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1340px;
  margin: 155px 50px 90px 50px;
} 

.footer-menu {
  display: flex;
  align-items: center; 
  padding: 2px 10px 10px 55px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  white-space: nowrap;
}

.footer-address {
  place-self: center end;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 5px;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-menu-link_active {
  text-decoration: none;
}

.footer-menu-list-item {
  padding-right: 40px;
}

.footer-menu-link { 
  color: #000; 
  text-underline-offset: 5px; 
}

.footer-social-icon { 
  max-width: 50%;
}

.footer-social-item {
  width: 100%;
}

.footer-social-list {
  display: flex;
  gap: 48px;
  width: 240px;
  min-height: 48px;
  margin: 0 0 10px 0;
  list-style: none;
} 

